<mw-header title="Yangi so'z qo'shish"></mw-header>

<div class="inner-content">
  <div class="flex-grow-1">
    <form [formGroup]="form" nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Yangi so'z</nz-form-label>

        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <input type="text" nz-input formControlName="newWord" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Tarjima</nz-form-label>

        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <textarea
            nz-input
            placeholder="Tarjima ..."
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            formControlName="translation"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Guruh</nz-form-label>

        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <nz-select formControlName="groupId">
            <nz-option
              [nzValue]="group.id"
              [nzLabel]="group.name"
              *ngFor="let group of group$ | async"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="7">Tarjima</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixMinusIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixMinusIconButton>
            <button nz-button nzType="primary" nzSearch>
              <i nz-icon nzType="minus"></i>
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="secondary-translation" routerLink="../type"
          >Tarjima</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzErrorTip="Fill the input">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch>
              <i nz-icon nzType="plus"></i>
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </div>
  <div>
    <button
      nz-button
      nzBlock
      nzSize="large"
      [nzType]="'primary'"
      (click)="submit()"
    >
      Saqlash
    </button>
  </div>
</div>
