<h3><span nz-icon nzType="home" nzTheme="outline"></span> Mening guruhlarim</h3>

<div class="inner-content">
  <div nz-row [nzGutter]="[16, 16]" class="overflow-auto">
    <div
      class="group-item"
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="12"
      [nzXXl]="12"
    >
      <div
        class="group"
        [routerLink]="['../my-words']"
        [nzTooltipTitle]="'Barchasiga o\'tish'"
        nzTooltipPlacement="top"
        nz-tooltip
      >
        <span> {{ "Barchasi" }} ({{ group$ | async | countWords }}) </span>
      </div>
    </div>
    <div
      class="position-relative group-item"
      nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="12"
      [nzXXl]="12"
      *ngFor="let group of group$ | async"
    >
      <div
        class="group"
        [routerLink]="['../my-words', group.id]"
        [nzTooltipTitle]="group.name + ' ga o\'tish'"
        nzTooltipPlacement="top"
        nz-tooltip
      >
        <span> {{ group.name }} ({{ group.wordsCount }}) </span>
      </div>
      <div class="position-absolute" style="top: 15px; right: 15px">
        <button nz-button nzType="link" (click)="edit(group)">
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          nzDanger
          nzType="link"
          nz-popconfirm
          nzPopconfirmTitle="Rostdan ham o'chirmoqchimisiz?"
          (nzOnConfirm)="delete(group.id)"
          [nzOkText]="'Ha'"
          [nzCancelText]="'Yo\'q'"
          nzPopconfirmPlacement="bottom"
        >
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzXXl]="12">
      <div
        class="group group__plus"
        (click)="add()"
        nzTooltipTitle="Guruh qo'shish"
        nzTooltipPlacement="top"
        nz-tooltip
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="visibleModal"
  [nzWidth]="300"
  [nzTitle]="editingGroup ? 'Guruhni tahrirlash' : 'Guruh qo\'shish'"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="submit()"
  [nzOkText]="'Saqlash'"
  [nzCancelText]="'Bekor qilish'"
>
  <ng-container *nzModalContent>
    <form [formGroup]="form" nz-form nzLayout="vertical" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Group name</nz-form-label>
        <nz-form-control
          [nzSpan]="24"
          nzHasFeedback
          [nzErrorTip]="userErrorTpl"
        >
          <input nz-input formControlName="name" placeholder="Group name" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please input group name!</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
