.d {
  &-flex {
    display: flex;
  }
}

.flex-direction {
  &-column {
    flex-direction: column;
  }
}

.flex {
  &-grow-1 {
    flex-grow: 1;
  }
}

.overflow {
  &-auto {
    overflow: auto;
  }
}

.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}

.h-100vh {
  height: 100vh;
}

.p {
  &r {
    &-1 {
      padding-right: 1rem;
    }

    &-2 {
      padding-right: 2rem;
    }
  }

  &b {
    &-1 {
      padding-bottom: 1rem;
    }
  }

  &l {
    &-1 {
      padding-left: 1rem;
    }
  }
}

.m {
  &t {
    &-1 {
      margin-top: 1rem;
    }
  }

  &b {
    &-1 {
      margin-bottom: 1rem;
    }
  }

  &r {
    &-1 {
      margin-right: 1rem;
    }
  }
}

.pointer {
  cursor: pointer;
}
